*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: none   ;
}
body{
    overflow-x: hidden;
}
.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background:#222
}
.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    }
header{
    padding: 40px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.logo i{
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: white;
    z-index: 5;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
}

nav .navlinks{
    list-style-type: none;
}

nav .navlinks li{
    color:white;
    display: inline-block;
}

nav .navlinks li a{
    color: white;
    margin-right: 2.5rem
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20rem;
    padding-top: 4rem;
}
.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #ada9e6;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.hero-pic img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.hero-pic img:hover{
    transform: scale(1.1);
}

.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(235, 232, 232);
}
.hero-text h5{
    color: #e5e5e5;
    font-size: 14px;
}
.hero-text h5 span{
    color: #007ced;
    font-size: 16px;
}
.hero-text h1{
    color: #007ced;
    font-size: 3rem;
}
.hero-text p{
    color: #e5e5e5;
}

.btn-group{
    display: flex;
    gap: 1rem;
    margin:  20px 0;
}

.btn-group .btn{
    padding: 12px 25px;
    border: 2px solid #9ea9b4;
    color: #d5d5d5;
    background: #333;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.btn.active{
    background: #007ced;
    border: 2px solid #007ced;
}
